.topPanel {
    position: fixed;
    background-color: snow;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    float: top;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.topPanel a {
    text-decoration: none;
    border: none;
    color: black;
    align-items: center;
}

.topPanel div {
    transition: .1s ease;
}

.topPanel div:hover {
    transform: scale(1.07);
}

#registrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: snow;

    top: 0;
    left: 0;

    height: 350px;
    width: 325px;

    border-radius: 20px;
}

#registrar input {
    margin-bottom: 15px;
    border: none;
    background-color: lightgray;
    color: rgb(85,85,85);
    outline: none;
    padding: 10px;
    border-radius: 10px;

    width: 200px;
}

#registrar input[type=submit] {
    border: none;
    color: black;
    border-radius: 10px;
    height: 40px;
    margin: 0;

    transition: .1s ease;
}

#registrar input:not([type=submit]) {
    background-color: transparent;

    padding-left: 0;
    border-radius: 0px;
    border-bottom: gray solid 1px;
}

#registrar input[type=submit]:hover {
    background-color: rgb(185,185,185);
    width: 200px;

    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#register {
    background-color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html,body{
    width: 100%;
    height: 100%;
}

.central {
    display: flex;
    flex-direction: column;
    
    height: 325px;
    width: 350px;
    
    justify-content: center;
    align-items: center;

    background-color: lightgray;

    border-radius: 15px;
}

.central label {
    margin-bottom: 5px;
    font-size: 25px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.central input {
    margin-bottom: 15px;
    width: 200px;

    border: none;
    padding: 10px;

    background-color: transparent;

    border-bottom: gray solid 1px;

    outline: none;

    transition: .2s ease;
}

.central input:focus {
    border-bottom: lightskyblue solid 1px;
}

.central button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    width: 223px;
    height: 50px;

    border: none;
    border-radius: 10px;

    transition: .1s ease;
}

.central button:hover {
    background-color: grey;
}

.back {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-image: url("../img/bg3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

    height: 100%;
    width: 100%;

    position: fixed;
    top:0;
    left:0;
}